<!DOCTYPE html>
<html lang="pt-br">
<%- include('../includes/head.ejs') %>
<body>
<%- include('../includes/menu.ejs') %>
<section class="d-flex h-100 justify-content-center align-items-center" style="min-height: 50vh" >
    <div class="card col-md-5">

        <div class="card-header text-center">OS do nome do Cliente</div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Número da OS</th>
                            <th scope="col">Data de Abertura</th>
                            <th scope="col">Status</th>
                            <th scope="col">Detalhar</th>
                        </tr>
                    </thead>

                    <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td>11/11/2019</td>
                              <td>Aberto</td>
                              <td><a  class="btn btn-info btn-sm" >Detalhar</a></td>
                            </tr>
                     </tbody>
        
            </div>

        </div>
    </div>

 


</section>
<%- include('../includes/scripts.ejs') %>
</body>
<script>
    $(document).ready(function () {
        $("#menu_home").attr("class", "active");
    });
</script>

</html>