<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error</title>
    <style>
        body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSUVjH4LnYlq6JFcx8ZfIpuLK9vPeOjVjYHeSK7CRbHa2Kkvsuo");
    background-repeat: no-repeat; 
}
    </style>
</head>
<body>
   
   
</body>
</html>