<!DOCTYPE html>
<html lang="pt-br">
<%- include('./includes/head.ejs') %>
<body>
<%- include('./includes/menu.ejs') %>
<section class="d-flex flex-column h-100 align-items-center text-center">
            <div class="mt-5 row">
                <h3 class="p-5 shadow-sm">Sistema Online de Ordem de Serviço</h3>
            </div>

            <div class="pt-2 row col-11 justify-content-between">

                <div class="flex col-4">
                    <div class="card">
                        <div class="card-header"><h4>Sobre nós</h4></div>
                        <div class="card-body">Solução definitiva em manutenção de equipamentos</div>
                    </div>
                </div>
                <div class="flex col-4">
                    <div class="card">
                        <div class="card-header"><h4>Cliente</h4></div>
                        <div class="card-body">Abra chamados, consulte o andamento, 
                            aprove o orçamento. Tudo isso online!!!</div>
                    </div>
                </div>
                <div class="flex col-4">
                    <div class="card">
                        <div class="card-header"><h4>Colaboradores</h4></div>
                        <div class="card-body">Especialistas em sua áreas de atuação. Profissionais altamente treinados</div>
                    </div>
                </div>

            </div>
 </section>
<%- include('./includes/scripts.ejs') %>
</body>
<script>
    $(document).ready(function () {
        $("#menu_home").attr("class", "active");
    });
</script>

</html>