<!DOCTYPE html>
<html lang="pt-br">
<%- include('./includes/head.ejs') %>
<body>
<%- include('./includes/menu.ejs') %>
<section class="d-flex flex-column h-100 align-items-center text-center">
            <div class="mt-5 row border">
                <h3 class="p-5 shadow-sm">Sistema Online de Ordem de Serviço</h3>
            </div>
            <div class="pt-5 row col-10 justify-content-between">
                <div class="card">
                    <div class="card-header">aaftafta</div>
                    <div class="card-body">Soluções em manutenção de equipamentos</div>
                </div>
                <div class="card">
                        <div class="card-header">aaftafta</div>
                        <div class="card-body">Soluções em manutenção de equipamentos</div>
                    </div>
                    <div class="card">
                            <div class="card-header">aaftafta</div>
                            <div class="card-body">Soluções em manutenção de equipamentos</div>
                        </div>
            </div>
 </section>
    <%- include('./includes/scripts.ejs') %>
</body>
<script>
    $(document).ready(function () {
        $("#menu_home").attr("class", "active");
    });
</script>

</html>