<!DOCTYPE html>
<html lang="pt-br">
<%- include('./includes/head.ejs') %>
<body>
<%- include('./includes/menu.ejs') %>
<section class="flex h-100">
<div class="home_img">
    <div class="row justify-content-center align-items-center text-light" style="width: 50%; border: 1px solid black;">
        <h3>Sistema Online de Ordem de Serviço</h3>
    </div>
</div>
</section>
<%- include('./includes/scripts.ejs') %>
</body>
<script>
    $(document).ready(function(){
        $("#menu_home").attr("class","active");
    });
</script>   
</html>