<!DOCTYPE html>
<html lang="pt-br">
<%- include('./includes/head.ejs') %>
<body>
<%- include('./includes/menu.ejs') %>
<section class="container">
<div class="home_img">
    a
</div>
</section>
<%- include('./includes/scripts.ejs') %>
</body>
<script>
    $(document).ready(function(){
        $("#menu_home").attr("class","active");
    });
</script>   
</html>