<!DOCTYPE html>
<html lang="pt-br">
<%- include('../includes/head.ejs') %>

<body>
    <%- include('../includes/menu.ejs') %>
    <div class="container d-flex justify-content-center align-items-center" style="height: 700px">
        <div class="col-4">
            <div class="card">
                <h3 class=" d-flex justify-content-center card-header bg-dark " style="color: white">Login</h3>
                <div class="card-body">
                    <form action="" method="POST" id="form">
                        <div class="form-group">
                            <input type="text" class="form-control" name="usuario" id="usuario" placeholder="Usuario" />
                        </div>
                        <div class="form-group">
                            <input type="password" name="senha" id="senha" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-group pt-3">
                            <input type="button" id="enviar" value="Entrar" class="col-12 btn btn-primary" />
                        </div>
                    </form>
                    <div class="d-flex justify-content-between">
                        <a href="" class="card-link">Novo por aqui?</a>
                        <a href="" class="card-link">Esqueceu a senha?</a>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../includes/scripts.ejs') %>


</body>
<script>
    $(document).ready(function () {
        $("#menu_cliente").attr("class", "active");
    });
</script>

</html>