<!DOCTYPE html>
<html lang="pt-br">
<%- include('../includes/head.ejs') %>
<body>
<%- include('../includes/menu.ejs') %>
<section class="d-flex flex-column align-items-center text-center">
    <%- include('../includes/form.ejs') %>
</section>
<%- include('../includes/scripts.ejs') %>
</body>
</html>