*{
    margin: 0px; padding: 0px;
    box-sizing: border-box;
}
html{
    width: 100vw; height: 100vh;
}
body{
    background-image: url("/imgs/fundo_topo.jpg");
    background-repeat: no-repeat; background-size: cover;
}

h3{
    color: white; 
    text-shadow: 3px 3px black;
}
.centro{
    display: flex; flex-direction: column;
    height: 90vh;
}
.card{
    background-color: rgba(255,255,255, .8);
}
.card-body{
    word-wrap: wrap;
}