<!DOCTYPE html>
<html lang="pt-br">
<%- include('../includes/head.ejs') %>
<body>
    <%- include('../includes/menu.ejs') %>
    <section class="d-flex flex-column align-items-center text-center">
    <div class="row col-12 justify-content-center align-items-center" style="min-height: 500px">
            <h3> Bem Vindo Cliente...</h3>
        <div class="flex row col-10 text-center " style="height: 400px">

            <div class="col col-3 m-1 text-center ">

                <div class="row pb-1">
                    <a href="/cliente/novaOs" class="btn btn-secondary w-100">Abrir OS</a>
                </div>
                <div class="row pb-1">
                    <a href = "/cliente/consultarAbertas/{id_cliente}" class="btn btn-secondary w-100">Consultar OS</a>
                </div>
                <div class="row pb-1">
                    <a href="/cliente/orcamentos" class="btn btn-secondary w-100">Orçamentos abertos</a>
                </div>
                <div class="row pb-1">
                    <a href="/cliente/contato" class="btn btn-secondary w-100">Mensagem ao Tecnico</a>
                </div>
            </div>
            <div class="col row m-1 text-center ">
                <h3>Informações prévias</h3>
            </div>
        </div>

    </div>
</section>


    <%- include('../includes/scripts.ejs') %>
</body>
<script>
        // $(document).ready(function(){
        //     $("#menu_home").attr("class","active");
        // });
</script>

</html>