<!DOCTYPE html>
<html lang="pt-br">
<%- include('../includes/head.ejs') %>
<body>
    <%- include('../includes/menu.ejs') %>
    <article class="container">
        <h1>Teste</h1>
    </article>

<%- include('../includes/scripts.ejs') %>
</body>
<script>
        // $(document).ready(function(){
        //     $("#menu_home").attr("class","active");
        // });
</script>   
</html>